//// style for auth pages
//.auth-page {
//  --background: none;
//  //background: url("/assets/Background.png") fixed;
//  // background: url("/assets/BackgroundShade.png") fixed;
//  background-position: center center;
//  background-repeat: no-repeat;
//  background-size: cover;
//  height: 100%;
//  width: 100%;
//  background-color: rgb(14, 14, 14) !important;
//
//  // background-color: #fff;
//}
//
//.auth-page2 {
//  --background: none;
//  // background: url("/assets/Background.png") fixed;
//  //background: url("/assets/BackgroundShade.png") fixed;
//  background-position: center center;
//  background-repeat: no-repeat;
//  background-size: cover;
//  height: 100%;
//  width: 100%;
//
//
//}
.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h {
  font-size: large;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
  font-size: large;
}


.h2-style {
  margin-top: 30%;
}

h3 {
  margin-top: 31px !important;
  font-size: 19px !important;
  margin-right: 1px !important;
  color: red !important;
}
