<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerDirection="backward" routerLink="/history">
                <ion-icon color="light" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Request Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="request">
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content pullingIcon="arrow-down-outline" pullingText="Pull to refresh"
                               refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card>
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col>Hospital</ion-col>
                    <ion-col>Status</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-card-title>{{request.name}}</ion-card-title>
                    </ion-col>
                    <ion-col *ngIf="request.status ==1">
                        <ion-button color="tertiary" size="small">new</ion-button>
                    </ion-col>
                    <ion-col *ngIf="request.status ==2">
                        <ion-button color="warning" size="small">Waiting</ion-button>
                    </ion-col>
                    <ion-col *ngIf="request.status ==3">
                        <ion-button color="success" size="small">In progress</ion-button>
                    </ion-col>
                    <ion-col *ngIf="request.status ==6">
                        <ion-button color="secondary" size="small">Finished</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <ion-card-content>
            <p>Order #: {{request.id}}</p>
            <h2>We Need: <b>{{request.specialties.medical.name}}</b></h2>
            <h3>Specialized in: {{request.specialties.name}}</h3>
            <p>start at: <b>{{request.start_time}}</b></p>
            <p>work hours: <b>{{request.number_of_hour}}</b></p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <div *ngIf="request.status == 2 || request.status == 3">

            <!--            <ion-card-title>Info</ion-card-title>-->
            <ion-card-subtitle>The request a Accept by:</ion-card-subtitle>
            <ion-card-content>
                <h1>Doctor: <b>{{request.accept_request.doctor.name}}</b></h1>
                <ion-button block expand="block" href="tel:{{request.accept_request.doctor.phone}}">
                    Phone: <b>{{request.accept_request.doctor.phone}}</b>
                    <ion-icon name="call-outline"></ion-icon>
                </ion-button>

                <ion-button (click)="openProfile()" expand="block">
                    <ion-icon name="person-circle-outline"></ion-icon>
                    Doctor Profile
                </ion-button>
                <ion-button [href]="request.accept_request.doctor.employ.cv" target="_blank" expand="block">
                    <ion-icon name="document-attach"></ion-icon>
                    Download Doctor CV
                </ion-button>
            </ion-card-content>
        </div>
        <div *ngIf="request.status == 1">
            no update for now
        </div>
    </ion-card>

    <ion-footer class="ion-text-center ion-align-items-center">
        <div *ngIf="request.status == 2">
            <ion-button (click)="requestConfirm()" expand="block">
                <ion-icon name="thumbs-up"></ion-icon>
                <div>Accept Doctor</div>
            </ion-button>
        </div>
        <div *ngIf="request.status == 3">
            <ion-button (click)="requestDone($event)" expand="block">
                <ion-icon name="checkmark-done-circle-outline"></ion-icon>
                <div>Request Done</div>
            </ion-button>
        </div>

        <div *ngIf="request.status == 2 || request.status ==1">

            <ion-button (click)="requestCancel()" color="danger" expand="block">
                <ion-icon name="thumbs-down"></ion-icon>
                <div>Cancel Request</div>
            </ion-button>
        </div>
    </ion-footer>

</ion-content>

<div *ngIf="!request">
    <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
</div>
