<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-content>
            <ion-item class="image-upload" style="margin-left: 25%;">
                <input [uploader]="fileUploader" accept="image/*" ng2FileSelect type="file" id="file"
                    class="fileInput" />
                <label class="filebutton" for="file">
                    <img src="assets/images/profile.png">
                </label>
                <p>pic Profile Image</p>
            </ion-item>


            
            <ion-item>
                <ion-label position="floating">Full name</ion-label>
                <ion-input [(ngModel)]="registerData.name" max="20" min="6" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Phone</ion-label>
                <ion-input [(ngModel)]="registerData.phone" max="20" min="6" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input [(ngModel)]="registerData.password" max="20" min="6" type="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Re-Password</ion-label>
                <ion-input [(ngModel)]="registerData.password_check" max="20" min="6" type="password"></ion-input>
            </ion-item>

            <ion-button (click)="userRegister()" expand="block">Registration</ion-button>

        </ion-card-content>


        <p class="ion-text-center" style="text-align: center;margin: 15%;">do yo have a account?<a href="login"><b
                class="ion-text-center">Login Now</b></a></p>

    </ion-card>
</ion-content>
