ion-label {
  white-space: normal !important;
  font-size: initial;
}

alert-radio-label.sc-ion-alert-md {
  white-space: pre-line !important;
}

alert-radio-label.sc-ion-alert-ios {
  white-space: pre-line !important;
}

