<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerDirection="backward" routerLink="/tabs/home">
                <ion-icon color="light" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Emergency</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label position="floating">Hospital name:</ion-label>
            <ion-input [(ngModel)]="requestData.name" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Address:</ion-label>
            <ion-input [(ngModel)]="requestData.address" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Contact:</ion-label>
            <ion-input [(ngModel)]="requestData.contact" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Price per day</ion-label>
            <ion-input [(ngModel)]="requestData.price_per_day" type="number"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Available:</ion-label>
            <ion-select [(ngModel)]="requestData.type" placeholder="Select One">
                <ion-select-option value="Icu">ICU bed</ion-select-option>
                <ion-select-option value="Mechanical Ventilator">Mechanical Ventilator</ion-select-option>
                <ion-select-option value="Dialysis">Dialysis</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">number:</ion-label>
            <ion-input [(ngModel)]="requestData.available" type="number"></ion-input>
        </ion-item>
    </ion-list>

    <ion-button (click)="sendRequest()" expand="block">
        <div>Create</div>
    </ion-button>
</ion-content>
