<ion-header>
    <ion-toolbar>
        <ion-title>
            Setting
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card *ngIf="token" color="light">
        <ion-item>
            <ion-avatar slot="start">
                <img src="{{userInfo?.image}}"/>
            </ion-avatar>
            <ion-label>Name: {{userInfo?.name}}</ion-label>
        </ion-item>
        <ion-card-header>

            <ion-card-subtitle>Phone: {{userInfo?.phone}}</ion-card-subtitle>

        </ion-card-header>
    </ion-card>
    <ion-list>
        <ion-item color="secondary" href="tabs/wallet">
            My Wallet
            <span class="wallet-outline" slot="end"></span>
        </ion-item>

        <ion-item color="tertiary" href="#">
            Profile
            <ion-icon name="person" slot="end"></ion-icon>
        </ion-item>

        <ion-button (click)="logOut()" *ngIf="token" expand="full">
            Logout
            <ion-icon name="log-out" slot="end"></ion-icon>
        </ion-button>

    </ion-list>
</ion-content>
