<ion-tabs>

    <ion-tab-bar color="primary" slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon color="light" name="home-outline"></ion-icon>
            <ion-label color="light">Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="setting">
            <ion-icon color="light" name="settings-outline"></ion-icon>
            <ion-label color="light">Setting</ion-label>
        </ion-tab-button>

        <!--    <ion-tab-button tab="wallet">-->
        <!--      <ion-icon name="square"></ion-icon>-->
        <!--      <ion-label>Tab 3</ion-label>-->
        <!--    </ion-tab-button>-->
    </ion-tab-bar>

</ion-tabs>
