//ion-content ion-toolbar {
//  //--background: translucent;
//
//  p {
//    text-align: center;
//  }
//
//
//}
//ion-icon {
//  font-size: xx-large!important;
//}
//
ion-buttons {
  background-color: transparent !important;

}

button {
  background-color: transparent !important;
}

ion-card {
  background: transparent;
  //box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  max-height: 190px;
  height: 190px;

  img {
    max-height: 190px;
    height: 190px;
    width:100%;
    max-width:100%;
  }
}

.title {
  margin-top: -30%;
  font-weight: bold;
  background-clip: border-box;
  background-color: #36abe0;
  color: white;
}
.chart {
  background-clip: border-box;
  background-color: #171c17;
  color: white;
}

