//ion-content ion-toolbar {
//  //--background: translucent;
//
//  p {
//    text-align: center;
//  }
//
//
//}
//ion-icon {
//  font-size: xx-large!important;
//}
//
ion-buttons {
  background-color: transparent !important;

}

button {
  background-color: transparent !important;
}

//ion-card {
//  //background: transparent;
//  //box-shadow: none !important;
//  //-webkit-box-shadow: none !important;
//  box-shadow: 0 2px 4px rgb(0, 0, 0);
//}
//ion-grid {
//  //box-shadow: none !important;
//}
//p {
//  color: black;
//  //color: #ffffff;
//}
//ion-col div {
//  border: none !important;
//
//  // background-color: #f0f5ff;
//  border-radius: 2px;
//  padding: 5px;
//  text-align: center;
//}

//.title {
//  font-weight: bold;
//  background-clip: border-box;
//  background-color: rgba(107, 200, 255, 0.63);
//}