/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light);
}

.alert-radio-label.sc-ion-alert-md {
  white-space: pre-line !important;
}

.alert-radio-label.sc-ion-alert-ios {
  white-space: pre-line !important;
}

.sc-ion-alert-md-h {
  --min-width: 275px !important;
}

//.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h {
//  font-size: small;
//}
//
//.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
//  font-size: small;
//}


$transparent: transparent;

$black: #212121;
$white: #fff;
$white-1: #fafafa;
$white-2: #f1f1f1;
$grey-1: #ebebeb;
$grey-2: #ddd;
$grey-3: #bebebe;
$grey-4: #757575;
$grey-5: #555;

$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$d-purple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;
$l-blue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$l-green: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$amber: #FFC107;
$orange: #FF9800;
$d-orange: #FF5722;
$brown: #795548;
$blue-grey: #607D8B;

