<ion-header no-border translucent>
    <ion-toolbar>

        <ion-title class="ion-text-center">Profile</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" src="assets/icon/checkmark-filled.svg"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <div class="card">
        <ion-card>
            <div class="header">
                <div class="avatar ion-align-items-center">
                    <img src="{{doctorData?.image}}">
                </div>
            </div>
            <br>
            <ion-card-content>
                <div style="
    border: outset #4CAF50 !important;
    border-radius: 20px!important;" class="user-meta ion-text-center">
                    <p>Dr. <b>{{doctorData?.name}}</b></p>
                    <p>Address: <b>{{doctorData?.employ?.address}}</b></p>
                    <p>Graduation
                        Date: <b>{{doctorData?.employ?.graduation_date| date: 'yyyy-MMMM-dd'}}</b></p>
                    <p>Medical
                        number: <b>{{doctorData?.employ?.medical_registration_number}}</b></p>
                    <p>Registration
                        At: <b>{{doctorData?.employ?.registration_date| date: 'yyyy-MMMM-dd'}}</b></p>
                    <p>Specialty At: <b>{{doctorData?.employ?.specialty?.name}}</b></p>
                    <p>Years of experience:
                        <ion-chip>
                            <ion-label>{{doctorData?.employ?.years_of_experience}}</ion-label>
                        </ion-chip>
                    </p>
                </div>

                <!--            <ion-button [href]="doctorData?.employ?.cv" color="primary" expand="full">View-->
                <!--                Cv-->
                <!--            </ion-button>-->
                <ion-button color="secondary" expand="full" href="tel:{{doctorData?.phone}}">Call</ion-button>
                <ion-button (click)="closeModal()" expand="full">Close profile</ion-button>
            </ion-card-content>
        </ion-card>
        <!--    </div>-->
        <!--            <ion-button href="" (click)="download(doctorData?.employ?.cv)" color="primary" expand="full">View-->
    </div>

</ion-content>

