<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start">
            <ion-icon name="menu"></ion-icon>
        </ion-menu-button>
        <ion-title>Edit Profile
        </ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" routerDirection="forward" routerLink="/search">
                <ion-icon name="search" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button fill="clear" routerDirection="forward" routerLink="/cart">
                <ion-icon name="basket"></ion-icon>
                <ion-badge color="secondary">5</ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #userForm="ngForm" (ngSubmit)="updateInfo()">
        <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input [(ngModel)]="myAccountData.first_name" name="customers_firstname" required
                       type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input [(ngModel)]="myAccountData.last_name" name="customers_lastname" required type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
        </ion-item>
        <ion-button [disabled]="!userForm.form.valid" expand="full" type="submit">Update
        </ion-button>
    </form>
</ion-content>