<ion-header no-border translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light">
                <ion-icon name="ios-arrow-back" slot="start"></ion-icon>
                Profile
            </ion-button>
        </ion-buttons>
        <ion-title>&nbsp;</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" src="assets/icon/checkmark-filled.svg"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
    <div class="card">
        <div class="header">
            <div class="avatar">
                <img alt="" src="{{doctorData.image}}">
            </div>
        </div>
        <div class="card-body">
            <div class="user-meta ion-text-center">
                <h3 class="playername">{{doctorData.name}}</h3>
                <h5 class="country">Address: {{doctorData.employ.address}}</h5>
                <h5 class="country">Graduation date: {{doctorData.employ.graduation_date}}</h5>
                <h6 class="ranking">Years of experience:
                    <ion-chip>
                        <ion-label>{{doctorData.employ.years_of_experience}}</ion-label>
                    </ion-chip>
                </h6>
            </div>

            <ion-button (click)="download(doctorData.employ.cv, doctorData.name)" color="primary" expand="full">View
                Cv
            </ion-button>
            <ion-button color="secondary" expand="full" href="tel:{{doctorData.phone}}">Call</ion-button>
            <ion-button (click)="closeModal()" expand="full">Close profile</ion-button>
        </div>
    </div>

</ion-content>

